body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #c9d5e0;
}

a {
    color: #3474ad;
}

h3,
h4,
h5,
h6 {
    margin: 5px 0;
}

body,
html,
#root,
.page {
    height: 100%;
}

.page {
    overflow: auto;
}